<div [class]="navHeaderWrapperClass">
    <div class="nav-header">
        <div class="nav-avatar"></div>
        <div class="nav-name">
            <div>{{user?.firstName}} {{user?.lastName}}</div>
            <div class="name-green">online</div>
        </div>
        <div [class]="chevronClass" (click)="toogleDropdown()"></div>
    </div>
    <a *ngIf="user?.isAdmin" class="nav-header-item" [routerLink]="['/main-page/settings']"><i class="icon cog-icon"></i>Ustawienia</a>
    <a (click)="Logout()" class="nav-header-item" href="#"><i class="icon logout-icon"></i>Wyloguj</a>
</div>