<div class="course-page">
  <div *ngFor="let course of userCourses?.ownedCourses">
    <app-course
      *ngIf="course.show"
      [course]="course"
      [owned]="true"
    ></app-course>
  </div>

  <div *ngFor="let course of userCourses?.allCourses">
    <app-course
      *ngIf="course.show"
      [course]="course"
      [owned]="false"
    ></app-course>
  </div>

  <app-button
    *ngIf="authService.loggedUser?.isAdmin"
    [size]="'normal'"
    [style]="'grey-1'"
    (click)="createCourse()"
    >Dodaj kurs</app-button
  >
</div>
