.col{
    color:rgb(175, 175, 175);
}

.expansion-panel-header{
    min-height: 100px;
}

.card{
    background-color: rgb(51, 51, 51)
}

.group-button-card{
    background-color: rgb(88, 88, 88);
    cursor: pointer;
}

.fa-pencil {
    margin-left: 15px;
}