<div class="course-form">
  <h2>Kurs</h2>
  <form (ngSubmit)="onSubmit()">
    <app-input
      [inputLabel]="'Tytuł'"
      type="text"
      [(value)]="form.title"
    ></app-input>
    <app-input
      [inputLabel]="'Opis'"
      type="text"
      [(value)]="form.description"
    ></app-input>
    <div class="buttons">
      <app-button type="submit" [style]="'default'" [size]="'normal'">{{
        isCreatingCourse ? "Stwórz kurs" : "Zaktualizuj kurs"
      }}</app-button>
      <app-button
        (click)="goBack()"
        type="button"
        [style]="'grey-1'"
        [size]="'normal'"
      >
        Wróc
      </app-button>
    </div>
  </form>
</div>
