<div class="logo"></div>
<div class="login-form">
  <div class="title">Poznaj<span class="gradient-title">AI</span></div>
  <div class="description">Miejsce w którym dowiesz się wszystkiego o AI!</div>
  <div class="form-inputs">
    <app-input
      [inputIcon]="'letter'"
      [(value)]="login.email"
      [inputStyle]="''"
      [disabled]="false"
      [inputPlaceholder]="'E-mail'"
      [inputLabel]="''"
      [inputHint]="''"
    ></app-input>
    <app-input
      [inputIcon]="'lock'"
      [type]="'password'"
      [(value)]="login.password"
      [inputStyle]="''"
      [disabled]="false"
      [inputPlaceholder]="'Hasło'"
      [inputLabel]="''"
      [inputHint]="''"
    ></app-input>
  </div>
  <div class="bottom">
    <app-checkbox
      [(checked)]="isChecked"
      [label]="'Zapamiętaj mnie'"
    ></app-checkbox>
    <a class="gradient-text bottom-text" href="#">Zapomniałeś hasła?</a>
  </div>
  <div class="buttons">
    <app-button size="big" (click)="onSubmit()">Zaloguj</app-button>
  </div>
</div>
<div class="footer">
  Nie masz konta?
  <a class="gradient-text" (click)="register()">Zarejestruj się</a>
</div>
