<div class="lesson-page">
  <app-gradient-card>
    <div class="title">
      <div class="title-text">
        {{ lesson?.title }}
        <app-button [size]="'small'" [style]="'grey-1'" (click)="goBack()"
          >Powrót</app-button
        >
      </div>
      <div class="time">Czas trwania: {{ lesson?.duration }}</div>
    </div>
  </app-gradient-card>
  <div class="video-wrapper">
    <div *ngIf="progress" class="progress-container">
      <div class="progress-info">Trwa konwersja video...</div>
      <mat-progress-bar
        mode="determinate"
        value="{{ progress }}"
      ></mat-progress-bar>
      <div class="progress-info">{{ progress }} %</div>
    </div>
    <app-video-player
      *ngIf="!progress"
      [videoUrl]="lesson?.video"
    ></app-video-player>
  </div>

  <app-gradient-card *ngIf="safeContent">
    <div [innerHTML]="safeContent"></div
  ></app-gradient-card>
</div>
