.video-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.progress-info {
  display: flex;
  justify-content: center;
}

.progress-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title-text {
  display: flex;
  gap: 12px;
}

.time {
  display: flex;
  gap: 12px;
}

.lesson-page {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding-bottom: 12px;
}

:host {
  width: 100%;
}
