.lessons {
  display: flex;
  width: 100%;
}

.title {
  display: flex;
  gap: 12px;
  font-size: 20px;
  font-weight: 600;
}

.description {
  display: flex;
  gap: 12px;
  width: 100%;
}
.description-text {
  display: flex;
  width: 100%;
}

.get-course-card {
  font-size: 12px;
  display: flex;
  height: fit-content;
  padding: 24px;
  width: 30%;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  border-radius: 16px;
  border: 0px solid var(--Glass-Stroke, rgba(255, 255, 255, 0.08));
  background: var(--Glass-Modal, rgba(26, 29, 33, 0.96));
  box-shadow:
    0px 8px 12px 0px rgba(255, 255, 255, 0.04) inset,
    0px 24px 64px -16px rgba(0, 0, 0, 0.24),
    16px 24px 64px -24px rgba(255, 255, 255, 0.04) inset;
}
