<app-gradient-card *ngIf="course">
  <div class="title">
    <img class="icon" src="assets/icons/folder.svg" />
    {{ course.title }}
    <app-button
      *ngIf="authService.loggedUser?.isAdmin"
      (click)="editCourse()"
      [style]="'outline'"
      [size]="'small'"
    >
      Edytuj
    </app-button>
    <app-button
      *ngIf="authService.loggedUser?.isAdmin"
      (click)="deleteCourse()"
      [style]="'outline'"
      [size]="'small'"
    >
      Usuń
    </app-button>
  </div>
  <div class="description">
    <div class="description-text">
      {{ course.description }}
    </div>
    <div *ngIf="!owned" class="get-course-card">
      Moduł dostępny w pakiecie Programista
      <app-button [size]="'small'" (click)="claimCourse()">Kup</app-button>
    </div>
  </div>
  <div class="lessons" *ngFor="let lesson of course.lessons">
    <app-lesson
      *ngIf="lesson.show"
      [owned]="false"
      [lesson]="lesson"
    ></app-lesson>
  </div>
  <app-button *ngIf="authService.loggedUser?.isAdmin" (click)="createLesson()">
    Dodaj lekcję
  </app-button>
</app-gradient-card>
