<div class="login-page">
  <div class="login-card">
    <div class="left">
      <div class="logo"></div>
      <div class="login-form">
        <div class="title">Let's get <span class="gradient-title">creative</span></div>
        <div class="description">Log in to Aritificulum to start creating magic.</div>
        <div class="form-inputs">
          <app-custom-input [inputIcon]="'letter'" [inputStyle]="''" [disabled]="false" [inputPlaceholder]="'Login'" [inputLabel]="''" [inputHint]="''"></app-custom-input>
          <app-custom-input [inputIcon]="'lock'" [inputStyle]="''" [disabled]="false" [inputPlaceholder]="'Password'" [inputLabel]="''" [inputHint]="''"></app-custom-input>
        </div>
       <div class="form-checkbox">
        <input type="checkbox">
        <div class="custom-icon"></div>
        <label>Remember me</label>
        <span>Forgot Password?</span>
       </div>
      </div>
      <div class="footer">Don't have an account? <span class="gradient-text">Sign Up</span></div>
    </div>
    <div class="right"></div>
  </div>
</div>