<div class="login-page">
  <div class="login-card">
    <div class="left">
      <div class="logo"></div>
      <div class="login-form">
        <div class="title">Stwórz <span class="gradient-title">konto</span></div>
        <div class="description">I zacznij poznawać z nami świat AI!</div>
        <div class="form-inputs">
          <div class="row">
            <app-custom-input 
              [inputIcon]="'letter'" 
              [(value)]="username" 
              [inputStyle]="''" 
              [disabled]="false" 
              [inputPlaceholder]="'Login'" 
              [inputLabel]="''" 
              [inputHint]="''">
            </app-custom-input>
          </div>
          <div class="row">
            <div class="col">
              <app-custom-input 
                [inputIcon]="'letter'" 
                [type]="'email'" 
                [(value)]="email"  
                [inputStyle]="''" 
                [disabled]="false" 
                [inputPlaceholder]="'Twoje adres e-mail'" 
                [inputLabel]="''" 
                [inputHint]="''">
              </app-custom-input>
            </div>
            <div class="col">
              <app-custom-input 
              [inputIcon]="'letter'" 
              [type]="'email'" 
              [(value)]="repeatEmail"  
              [inputStyle]="''" 
              [disabled]="false" 
              [inputPlaceholder]="'Potwórz adres e-mail'" 
              [inputLabel]="''" 
              [inputHint]="''">
            </app-custom-input>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <app-custom-input 
                [inputIcon]="'lock'" 
                [type]="'password'" 
                [(value)]="repeatPassword"  
                [inputStyle]="''" 
                [disabled]="false" 
                [inputPlaceholder]="'Twoje hasło'" 
                [inputLabel]="''" 
                [inputHint]="''">
              </app-custom-input>
            </div>
            <div class="col">
              <app-custom-input 
                [inputIcon]="'lock'" 
                [type]="'password'" 
                [(value)]="password"  
                [inputStyle]="''" 
                [disabled]="false" 
                [inputPlaceholder]="'Potwórz hasło'" 
                [inputLabel]="''" 
                [inputHint]="''">
              </app-custom-input>
            </div>
          </div>

         
          
        </div>
       <div class="bottom">
        <app-custom-checkbox [(checked)]="isChecked" [label]="'Zapamiętaj mnie'"></app-custom-checkbox>
        <a class="gradient-text bottom-text" href="#" >Zapomniałeś hasła?</a>
       </div>
       <div class="buttons">
        <app-custom-button type="big" (click)="onSubmit()">Zaloguj</app-custom-button>
       </div>
      </div>
      <div class="footer">Masz konto? <a class="gradient-text" [routerLink]="['/login']">Zaloguj się</a></div>
    </div>
    <div [class]="rightClasses">    <div [class]="loaderClasses">
      <span class="loader"></span>
  </div></div>
  </div>
</div>