.nav-item{
    border-radius: 5px;
    padding: 8px;
    margin: 5px 0px;
    background-color: rgb(54, 54, 54);
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    transition: transform 0.1s ease-out;
}

.nav-item:hover{
    transform: scale(1.01);
    transition: 0.1s;
}

.nav-greetings{
    margin: 15px 0px;
    font-size: 15px;
    font-weight: 700;
}

a{
    color:white;
    text-decoration: none;
}

fa-icon {
    margin-right: 10px;
}