.col{
    color:white;
}

.expansion-panel-header{
    min-height: 100px;
}

.card{
    background-color: rgb(51, 51, 51)
}

.ng-fa-icon {
    margin-left: 15px;
}

.lesson {
    background-color: rgb(105, 105, 105);
    cursor: pointer;
}