<div class="login-page">
  <div class="login-card">
    <div class="left">
      <div class="logo"></div>
      <div class="login-form">
        <div class="title">Poznaj<span class="gradient-title">AI</span></div>
        <div class="description">Miejsce w którym dowiesz się wszystkiego o AI!</div>
        <div class="form-inputs">
          <app-custom-input [inputIcon]="'letter'" [(value)]="username" [inputStyle]="''" [disabled]="false" [inputPlaceholder]="'Login'" [inputLabel]="''" [inputHint]="''"></app-custom-input>
          <app-custom-input [inputIcon]="'lock'" [type]="'password'" [(value)]="password"  [inputStyle]="''" [disabled]="false" [inputPlaceholder]="'Hasło'" [inputLabel]="''" [inputHint]="''"></app-custom-input>
        </div>
       <div class="bottom">
        <app-custom-checkbox [(checked)]="isChecked" [label]="'Zapamiętaj mnie'"></app-custom-checkbox>
        <a class="gradient-text bottom-text" href="#" >Zapomniałeś hasła?</a>
       </div>
       <div class="buttons">
        <app-custom-button type="big" (click)="onSubmit()">Zaloguj</app-custom-button>
       </div>
      </div>
      <div class="footer">Nie masz konta? <span class="gradient-text">Zarejestruj się</span></div>
    </div>
    <div [class]="rightClasses">    <div [class]="loaderClasses">
      <span class="loader"></span>
  </div></div>
  </div>
</div>