<div class="lesson-form">
  <h2>Lekcja</h2>
  <form (ngSubmit)="onSubmit()">
    <app-input
      [inputLabel]="'Tytuł'"
      type="text"
      [(value)]="form.title"
    ></app-input>
    <app-input
      [inputLabel]="'Czas trwania'"
      type="text"
      [(value)]="form.duration"
    ></app-input>
    <app-checkbox
      [label]="'Włączyć Czat GPT'"
      type="text"
      [(checked)]="form.isGptActive"
    ></app-checkbox>
    <quill-editor
      #quillEditor
      [formControl]="quillForm"
      [modules]="editorConfig"
      (onFocus)="editorFocus()"
      (onBlur)="editorBlur()"
      placeholder=""
    ></quill-editor>
    <app-video-player [videoUrl]="this.videoUrl"></app-video-player>
    <file-upload (fileUploaded)="handleFileUploaded($event)"></file-upload>
    <div class="buttons">
      <app-button type="submit" [style]="'default'" [size]="'normal'">{{
        isCreatingLesson ? "Stwórz lekcję" : "Zaktualizuj lekcję"
      }}</app-button>
      <app-button
        (click)="goBack()"
        type="button"
        [style]="'grey-1'"
        [size]="'normal'"
      >
        Wróc
      </app-button>
    </div>
  </form>
</div>
