<app-gradient-card [routerLink]="'/main-page/lesson/' + lesson.id">
  <div class="lesson">
    <div class="title">
      {{ lesson.title }}
      <app-button
        (click)="editLesson($event)"
        [style]="'outline'"
        [size]="'small'"
      >
        Edytuj
      </app-button>
      <app-button
        (click)="deleteLesson($event)"
        [style]="'outline'"
        [size]="'small'"
      >
        Usuń
      </app-button>
    </div>
    <div class="time">
      <img class="icon" src="assets/icons/clock.svg" />
      {{ lesson.duration }}
    </div>
  </div>
</app-gradient-card>
