.title {
  display: flex;
  gap: 8px;
}

.time {
  display: flex;
  gap: 12px;
  min-width: 150px;
  justify-content: end;
}

.lesson {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

:host {
  width: 100%;
  cursor: pointer;
}
